tests/discarded_sentences.log
backup/
old tests/
lib/*
other_data/*
!other_data/polygon_transitions.txt
temp_files/*
user_files/*
src/tatoebator/tts2.py
src/tatoebator/__pycache__/
__pycache__/
.idea/