user_files/sentences.db
tests/discarded_sentences.log
backup/
fake_media_dir/*
lib/*
old tests/
temp_files/*
user_files/cached_downloads/*
user_files/manual_downloads/*
src/tatoebator/tts2.py
src/tatoebator/__pycache__/
__pycache__/
.idea/